<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>

        <!-- ================================================================== -->
        <!-- Раздел сертификатов -->
        <!-- ================================================================== -->
        <!-- Отпечаток транспортного сертификата который используется по умолчанию -->
        <add key="TransportCertificateThumbprint" value="33ACBA9D33365D277EB2B9B688F05B8F855D0594" />
        <!-- Отпечаток сертификата подписи который используется по умолчанию -->
        <add key="SigningCertificateThumbprint" value="3FACBA3338965D277EB333B688F05B8F855D0594" />
        
        <add key="orgPPAGUID" value="Идентификатор организации orgPPAGUID"  />

    </appSettings>
</configuration>


